{% load static %}
{%include 'main.html'%}
<!DOCTYPE html>
<html>
<head>
  <title>New-Account</title>
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  }
  #in{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
   }

#b {
  border-radius: 10px;
}
.container {
  border-radius: 20px;
  background-color: #ece7e7;
  padding: 50px;
}
</style>
</head>
<body>
{%block content %}
<div class="alert alert-primary" role="alert">
  {{Result}}
</div>
<div class="container">
<form action=''method='POST'> {% csrf_token %}
    <b>Account Type : </b><select id="in" name="account" ><option value="saving">Saving-Account</option><option value="current">Current-Account</option></select><br>
    <b>Fullname : </b><input id='in'type="text" placeholder="Enter Full name" name="name" required><br>
    <b>Mothername : </b><input id='in' type="text" placeholder="Enter Mother name" name="mname" required><br>
    <b>Gender : </b><select id="in" name="gender"><option value="others">Others</option><option value="male">Male</option><option value="female">Female</option><option value="lgbt">LGBT</option></select><br>
    <b>Date Of Birth : </b></label><input id='in'type="date" placeholder="Enter Date of birth" name="bdate" required><br>
    <b>Nominee : </b><input id='in'type="text" placeholder="Enter Name of your Nominee" name="nominee" required>
    <b>Relation : </b></label><input id='in'type="text" placeholder="Enter Your relation with your Nominee" name="nominee_relat" required><br>
    <b>Phone  : </b><input id='in'type="text" placeholder="Enter Mobile/Phone number" name="phone" required>
    <b>Email ID :  </b><input id='in'type="email" placeholder="Enter Email/Gmail ID" name="email" required><br>
    <b>Addhar  : </b><input id='in'type="text" placeholder="Enter Your Addhar number" name="addhar" required>
    <b>PANCard : </b><input id='in'type="text" placeholder="Enter Your PAN card number" name="pan" required><br>
    <b>Profile Photo: </b><input id='in'type="file" id="img" name="profile_img" accept="image/*" required>
    <b>Addhar card: </b><input id='in'type="file" id="img" name="addhar_img" accept="image/*" required>
    <b>PAN  card:</b><input id='in'type="file" id="img" name="pan_img" accept="image/*" required><br>
    <b>New Login ID: </b><input id='in'type="text" placeholder="Enter your new login id" name="login_id" required>
    <b>New Password: </b><input id='in'type="password" placeholder="Enter your new password" name="password" required>
    <input type="checkbox" name="confirm" required >Confirm <button type="submit" class="btn btn-primary" id="b"> Apply</button><br>
</form>
</div>
{%endblock%}
</body>
</html>