<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>jQuery Disable All Form Elements</title>
<style>
    label {
        display: block;
        margin-bottom: 5px;
    }
    label, input, textarea, select {
        margin-bottom: 10px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#myForm :input").prop("disabled", true);
    });
</script>
</head>
<body>
    <form id="myForm">
        <label>Name:</label>
        <input type="text">
        <label>Address:</label>
        <textarea></textarea>
        <label>Country:</label>
        <select>
            <option>select</option>
        </select>
        <br>
        <button type="button">Submit</button>
        <button type="button">Reset</button>
    </form>
</body>
</html>